/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

.button {
  color: transparent;
  cursor: pointer;
  border: none;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}

/* End css Resset */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e5e5f7;

  background-image: radial-gradient(
    #444cf7 0.6000000000000001px,
    #e5e5f7 0.6000000000000001px
  );
  background-size: 1.2rem 1.2rem;
}

.lights-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 2rem;
}

.Lights-label {
  width: 4.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #000;
  transition: background-color 0.3s;
  padding: 0.3rem 0.4rem;
}

.Lights-label::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.Lights-input {
  display: none;
}

.Lights-input:checked + .Lights-label {
  background-color: #fff;
}

.Lights-input:checked + .Lights-label::after {
  transform: translateX(2.1rem);
  background-color: #444cf7;
}

.container:has(.Lights-input:checked) {
  background-image: radial-gradient(
    #1822df 0.7000000000000001px,
    #050506 0.7000000000000001px
  );
  background-size: 14px 14px;
  opacity: 0.8;
}

.container:has(.Lights-input:checked) .card {
  background-color: #097a87;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #097a87 19px
    ),
    repeating-linear-gradient(#1cb4a055, #1cb4a0);
}

.container.container:has(.Lights-input:checked).top {
  background-color: #121a10;
  opacity: 0.9;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #121a10 12px
    ),
    repeating-linear-gradient(#1f10e255, #1f10e2);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 35rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.top {
  height: 10rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 12px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
}

.middle {
  margin: 0 auto;
  margin-top: -6.5rem;
  text-align: center;
  z-index: 1;
}

.pic {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  border: 0.4rem solid #fff;
}

.title {
  font-size: 2.2rem;
}

.profession {
  font-size: 1.6rem;
}

.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid #c4c4c4;
}

.column {
  flex: 1;
  text-align: center;
  padding: 1.8rem 1.5rem;
}

.column:nth-child(2) {
  border-right: 0.1rem solid #c4c4c4;
  border-left: 0.1rem solid #c4c4c4;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.username {
  font-size: 1.2rem;
}
